form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  border: 8px solid #072ff7;
  min-width: 250px;
  width: 40vw;
  max-width: 600px;
  min-height: 70vh;
  color: #072ff7;
  font-weight: bold;

  .room {
    border: 1.5px solid #072ff7;
    margin: 15px;
    width: 34vw;
  }

  .rent {
    margin-top: 1rem;
    width: 100%;
    padding: 0;
    label {
      margin: 1rem;
    }
    max-width: 413px;
  }

  fieldset {
    .MuiFormControl-root {
      margin-bottom: 20px;
    }
    label {
      text-align: left;
      font-size: 24px;
      margin: 2px 25px 2px 2px;
    }

    #closeButton {
      position: relative;
      right: -7px;
    }

    input[type="number"],
    input[type="text"] {
      font-size: 20px;
      float: right;
      background: transparent;
      border: none;
      border-bottom: 2px solid #072ff7;
    }

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      outline: inherit;
      float: right;
      width: 1rem;
    }

    .room-type {
      text-transform: lowercase;
      font-size: 18px;
    }

    max-width: 400px;
    border: none;
    display: flex;
    flex-direction: column;
  }

  .space {
    font-size: 22px;
    text-align: left;
  }

  .room-title {
    margin-top: 0px;
    font-size: 18px;
    margin-left: 2rem;
  }

  input[type="submit"] {
    font-size: 24px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 5px;
    font-family: "DM Sans";
    border: 3px solid #072ff7;
    margin-right: 3px;
    background: transparent;
    color: #072ff7;
    cursor: pointer;
  }

  button {
    border-radius: 5px;
    font-family: "DM Sans";
    border: 2px solid #072ff7;
    margin-right: 3px;
    background: #072ff7;
    color: #fcec03;
    cursor: pointer;
  }

  p {
    margin: 0;
    width: 100%;
    font-size: 20px;
    color: blue;
    max-width: 400px;
    margin-left: 1rem;
    text-align: left;
    margin-top: 2rem;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    display: block;
    text-align: left;
  }
}

section {
  margin-top: 20px;
}
